- extends 'dunai/base.jade'

- load static
- load common
- load components

block content
    .a-row
        .a-block
            h1.primary-text(data-nav-id="about", style="padding: 1rem 0.5rem") About me
            .a-block.body-text(style="padding: 0.5rem")
                p My name is Andrew Dunai. I've been developing stuff for already 9 years. I'm fluent in English, Ukrainian and Russian and on average with Polish and German. I've got a lot of experience in all sorts of development, including back-end, web front-end and desktop apps.
                p I also used to work as web team lead, experienced in leading small & average groups of developers.
                p I love heavy & thrash metal, CSS3, thrash metal, Python and playing drums and electric guitar. I'm a great fan of Linux and OpenSource. Also, I really love reverse engineering of proprietary multiplayer games protocols.

            h1.primary-text(data-nav-id="projects", style="padding: 1rem 0.5rem") Projects
        - for category in categories
            .a-block
            //- component name='card' title=category.title icon=category.icon class="acid"
            .a-block.primary-text
                h2(data-nav-id="category-{{ category.id }}")
                    i.a-inline-block.fi(class="{{ category.icon }}", style="padding: 0.5rem 1rem 0.5rem 0.5rem; font-size: 1em")
                    = category.title
            //.slider-ctn.category-slider-ctn
                .slider
            - for project in category.projects.all
                //.item
                - component name='card' title=project.title image=project.cover nest_image=project.cover link=project.get_absolute_url class='clickable' leafs=project.tags.all
                //.slider-nav.prev
                    .a-table.a-12.a-full-height
                        .a-cell.a-middle(style="font-size: 5rem") &lsaquo;
                //.slider-nav.next
                    .a-table.a-12.a-full-height
                        .a-cell.a-middle(style="font-size: 5rem") &rsaquo;

    //
        script(type="text/javascript").
            $('.category-slider-ctn').each(function() {
                var $ctn = $(this);
                var $owl = $ctn.find('.slider').owlCarousel({
                    items: 6.5,
                    //responsiveRefreshRage: 200,
                    //responsiveBaseElement: '.slider-ctn',
                    itemsDesktop: [1200, 4.5],
                    itemsDesktopSmall: [768, 3.5],
                    itemsTablet: [480, 2.5],
                    //itemsTabletSmall: [480, 1.5],
                    slideSpeed: 200,
                    paginationSpeed: 200,
                    rewindSpeed: 200
                });
                $ctn.on('click', '.slider-nav.prev', function () {
                    $owl.trigger('owl.prev');
                });
                $ctn.on('click', '.slider-nav.next', function () {
                    $owl.trigger('owl.next');
                });
            });
//        - component name='card' title='Card test' image='http://lorempixel.com/600/400/?2' link="/project/1"
//        - component name='card' title='Card test' image='http://lorempixel.com/600/400/?3' link="/project/1"
//        - component name='card' title='Card test' image='http://lorempixel.com/600/400/?4' link="/project/1"
//        - component name='card' title='Card test' image='http://lorempixel.com/600/400/?5' link="/project/1"
//        - component name='card' title='Card test' image='http://lorempixel.com/600/400/?6' link="/project/1"
//        - component name='card' title='Card test' image='http://lorempixel.com/600/400/?7' link="/project/1"
//        - component name='card' title='Card test' image='http://lorempixel.com/600/400/?8' link="/project/1"
//        - component name='card' title='Card test' image='http://lorempixel.com/600/400/?9' link="/project/1"
//        - component name='card' title='Card test' image='http://lorempixel.com/600/400/?10' link="/project/1"
//        - component name='card' title='Card test' image='http://lorempixel.com/600/400/?11' link="/project/1"
//        - component name='card' title='Card test' image='http://lorempixel.com/600/400/?12' link="/project/1"
//        - component name='card' title='Card test' image='http://lorempixel.com/600/400/?13' link="/project/1"
//        - component name='card' title='Card test' image='http://lorempixel.com/600/400/?14' link="/project/1"
//        - component name='card' title='Card test' image='http://lorempixel.com/600/400/?15' link="/project/1"
//        - component name='card' title='Card test' image='http://lorempixel.com/600/400/?16' link="/project/1"
//        - component name='card' title='Card test' image='http://lorempixel.com/600/400/?17' link="/project/1"
//        - component name='card' title='Card test' image='http://lorempixel.com/600/400/?18' link="/project/1"
//.a-block(style="background: #000; height: 100rem")
