- extends 'dunai/base.jade'

- load static
- load common
- load components

block content
    .s-table.a-12
        .s-cell.a-center.s-6.m-4.l-3.xl-2.card.primary-bg(style="padding: 3rem 0")
            h1 Andrew Dunai
        .s-cell.a-center.s-6.m-8.l-9.xl-10.text-text.s-middle.bg-cover
            .shadow
                .a-table.a-12.a-full-height
                    .a-cell.a-middle
                        h1 /var/stuff

    .a-row.a-12
        - for category in categories
            - component name='card' title=category.title icon=category.icon
            - for project in category.projects.all
                - component name='card' title=project.title image=project.cover|url_or_default link=project.get_absolute_url class='clickable'
//        - component name='card' title='Card test' image='http://lorempixel.com/600/400/?2' link="/project/1"
//        - component name='card' title='Card test' image='http://lorempixel.com/600/400/?3' link="/project/1"
//        - component name='card' title='Card test' image='http://lorempixel.com/600/400/?4' link="/project/1"
//        - component name='card' title='Card test' image='http://lorempixel.com/600/400/?5' link="/project/1"
//        - component name='card' title='Card test' image='http://lorempixel.com/600/400/?6' link="/project/1"
//        - component name='card' title='Card test' image='http://lorempixel.com/600/400/?7' link="/project/1"
//        - component name='card' title='Card test' image='http://lorempixel.com/600/400/?8' link="/project/1"
//        - component name='card' title='Card test' image='http://lorempixel.com/600/400/?9' link="/project/1"
//        - component name='card' title='Card test' image='http://lorempixel.com/600/400/?10' link="/project/1"
//        - component name='card' title='Card test' image='http://lorempixel.com/600/400/?11' link="/project/1"
//        - component name='card' title='Card test' image='http://lorempixel.com/600/400/?12' link="/project/1"
//        - component name='card' title='Card test' image='http://lorempixel.com/600/400/?13' link="/project/1"
//        - component name='card' title='Card test' image='http://lorempixel.com/600/400/?14' link="/project/1"
//        - component name='card' title='Card test' image='http://lorempixel.com/600/400/?15' link="/project/1"
//        - component name='card' title='Card test' image='http://lorempixel.com/600/400/?16' link="/project/1"
//        - component name='card' title='Card test' image='http://lorempixel.com/600/400/?17' link="/project/1"
//        - component name='card' title='Card test' image='http://lorempixel.com/600/400/?18' link="/project/1"
