extends dunai/base

- load common

block head_extra
    meta(property="og:url", content="{{ request|absolute_url:post.get_absolute_url }}")
    meta(property="og:type", content="article")
    meta(property="og:title", content="{{ post.title }}")
    meta(property="og:description", content="{{ post.content|cut|strip_tags|nl2sp }}")
    meta(property="og:image", content="{{ request|absolute_url:post.cover.url }}")
    meta(property="fb:app_id", content="{% get_setting 'FB_APP_ID' %}")

block content-ctn
    .aoverflow-hidden#main
        div(style="position: relative")
            div(style="width: 100%; height: 0; background-image: url({{ post.cover|filter:'blur' }}); background-size: cover; background-position: center; min-height: 50vh")
            //- img.responsive(src="{{ post.cover.url }}")
            div.center-align(style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0, 0, 0, 0.5)").valign-wrapper
                .valign(style="width: 100%")
                    h1.hide-on-med-and-down.white-text(style="text-shadow: 0 1px 1px #000")= post.title
                    h1.hide-on-small-only.hide-on-large-only.white-text(style="text-shadow: 0 1px 1px #000; font-size: 3rem")= post.title
                    h1.hide-on-med-and-up.white-text(style="text-shadow: 0 1px 1px #000; font-size: 2rem")= post.title
                    div.cats
                        for category in post.categories.all
                            span.category= category.name

                    .padding.container.left-align(style="padding-top: 1rem; position: absolute; bottom: 0; left: 0; right: 0")
                        span.grey-text.text-lighten-2.middle(style="font-size: 0.9rem")
                            | {{ post.date_added|human_date }}

                        .right
                            i.material-icons.middle(style="font-size: 0.8rem; padding: 0 0.5rem 0 1.5rem") visibility
                            span.middle(style="font-size: 0.9rem")= post.views

        .white.black-text
            .container.az-depth-1.article
                block content
                    //- .card
                    //-     .card-image
                    //-         div(style="width: 100%; height: 0; padding-top: 50%; background-image: url({{ post.cover.url }}); background-size: cover")

                    //-         .card-title.shaded
                    //-             h3= post.title

                            //- .card-title

                            //-     h1.center-align
                            //-         = post.title

                    .padding
                        .flow-text
                            | {{ post.content|safe }}

                        //- div(style="padding: 1rem 0")
                        //-     a(href="{% url 'posts:list' %}", data-ps) &lsaquo; Back to posts list

                .row
                    for other_post in other_posts
                        .col.s12.m6.l4
                            - with other_post as post
                                - include 'dunai/_post_card.jade'
